<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="FREE CRM Application Test Automation Test Suite">

	<test name="CRM Tests">
		<classes>
		<class name="com.crm.qa.tests.HomePageTest"></class>
			<class name="com.crm.qa.tests.LoginPageTest"></class>
		</classes>
	</test>
</suite>